<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1> Html Form </h1>

  <form action="/" method="post">
    Faculty Id <input type="number" name="id" required> <br><br>
    Faculty Name <input type="text" name="name" required> <br><br>
    Mobile No <input type="number" name="mobile" required> <br><br>
    Age <input type="number" name="age" required> <br><br>
    Birth Year <input type="number" name="year" required> <br> <br>
    Address <textarea name="address" id="" cols="30" rows="10"></textarea> <br> <br>
    Email Id <input type="email" name="email" id="" required> <br> <br>

    <input type="submit" value="submit">
  </form>
</body>

</html>