
<form action="/" method="post">
    Name: <input type="text" name="name" required> <br><br>
    Email Id: <input type="email" name="email" required> <br><br>
    Address: <textarea name="address" cols="30" rows="10" required></textarea>
    <br><br>
    Mobile: <input type="number" name="phone" required> <br> <br>

    City: <select name="city" required>
        <option value="anand">Anand</option>
        <option value="vadodara">Vadodara</option>
        <option value="umreth">Umreth</option>
    </select> <br> <br>

    ZipCode: <input type="text" name="zipcode" required> <br><br>
    <input type="submit" value="submit">
</form>